*.DS_Store
*.pyc
*__pycache__*
*.csproj
*.sln
*.sln.DotSettings.user
.idea
.DS_Store
.vscode
.vs/
editor.pid
Library/
Obj/
obj/
Temp/
Temp.meta
Logs/
Build/
Local/
UserSettings/
x86_64/
Exports/
Assets/AddressableAssetsData/Android/
Assets/AddressableAssetsData/iOS/
GvhProjectSettings.xml
HotfixVersionInfo.asset*
BuildVersionInfo.asset*
HybridCLRData/
HybridCLRGenerate/
HybridCLRGenerate.meta